/Boardcover.class
/Clocksync.class
/Fence.class
/Jumpgame.class
/LIS.class
/QuadTree.class
/Trianglepath.class
/Wildcard.class
/JLIS.class
/PI.class
/QUANTIZE.class
/TILING2.class
/Tripathcnt.class
/Snail.class
/Asymtiling.class
